body {
  font-family: Georgia, 'Times New Roman', serif;
  background-color: #ccc;
	color: #222; font-style: italic;
}
* {
  margin: 0px;  padding: 0px;  text-decoration: none;
}
html {
  height: 100%;  margin-bottom: 1px;
}
/* 
==========================
Basics
==========================
*/
h2 {
	padding: 12px 0 12px 0;
}
h3 {
	padding: 5px 0 5px 0;
}

p {
	padding: 8px 0 8px 0;
	line-height: 140%;
}
ul {
	padding-left: 30px;
	list-style-type: square;
}
hr {
	clear: both; border: 0;
}
hr.show {
	padding: 20px 0 0 0;
	border-bottom: 1px solid #5E94BF; width: 80%;
	margin: 0 auto;
	margin-bottom: 20px;
}
a {
	color: #5E94BF; border-bottom: 1px dotted; text-decoration: none;
}
a:hover {
	border: none;
}


/* 
==========================
Forms
==========================
*/
textarea {
	width: 100%;
	height: 70px;
}


/* 
==========================
Page & Message
==========================
*/
#page {
	margin: 0 auto;	width: 500px; border-top:
}
#message {
	text-align: center; color: #ccc;
}



/* 
==========================
Header
==========================
*/
#header {
	margin-top: 20px;
	padding: 40px 0 30px 0;
	background: #fff;
}
#header h1 {
    background: url('../images/logo.gif') top right no-repeat;
		width: 2450px;	margin: 0; padding: 0; margin-left: -2000px;
}
#header h1 a {
	display: block;	height: 190px;
	padding: 0;	margin: 0; border: none;
}
/* 
==========================
Navigation
==========================
*/
#navigation {
	padding: 5px 0 5px 0; margin: 0;
	text-align: center; font-size: 13px;
	color: #5E94BF;
}
/* 
==========================
Content
==========================
*/
#content {
	margin: 0 3%; padding: 30px 0 0 0;
}
#content img {
	padding: 2px;
}
/* 
==========================
Footer
==========================
*/
#footer {
	margin: 0 auto; padding: 50px 0 0 0;
}